
<img id="postersmall" src="<%= @poster %>" alt="poster" />
<a href="/info?imdbId=<%= @imdbid %>"> <%= @title %> </a><br>
<p> Year Released : <%= @year %> </p>
<p> Plot : <%= @plot %> </p>
<p>  Database ID : <%= @imdbid %> </p>
<p> Type : <%= @type %> </p>
<p> <%= @search %> </p>
<!-- how to display as a list, or have a div with details, created for each result. -->
